*{
    margin: 0;
}
body {
    /*background-color: #87BFFF;*/
    box-sizing: border-box;
    font-family: Montserrat;
    background-image: url(pic2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.prev_next {
    margin: 1em;
    float: left;
}

button {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    border-radius: .7em;
    border: none;
}

#confirm_button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button:hover {
    transform: scale(1.05)
}

.quiz_form_wrapper {
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.quiz_title {
    color: #C8C6C6;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    width: 40%;
    text-transform: uppercase;
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 2em;
}

.quiz_answer,
.quiz_text {
    border: 2px #0D151A solid;
    border-radius: 15px;
    text-align: center;
    padding: 1.5em;
    line-height: 1.5em;
    margin-bottom: 2.5em;
}

.quiz_answer,
.quiz_text,
button{
    background-color: #C8C6C6;
    color: #012235;
    font-weight: bold;
}