*{
    margin: 0;
}
body {
    box-sizing: border-box;
    font-family: Montserrat;
    background-image: url(./images/background_for_desktop.jpg);
    background-color: #012235;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;;
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.prev_next {
    margin: 1em;
    float: left;
}

button {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    border-radius: .7em;
    border: none;
}

#confirm_button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button:hover {
    transform: scale(1.05)
}

.quiz_form_wrapper {
    display: flex;
    flex-direction: column;
    padding: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.quiz_title {
    color: #C8C6C6;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    text-transform: uppercase;
    font-size: 3.5em;
    font-weight: bold;
    margin-bottom: 2em;
}

.quiz_answer,
.quiz_text {
    border: 2px #0D151A solid;
    border-radius: 15px;
    text-align: center;
    padding: 1.5em;
    line-height: 1.5em;
    margin-bottom: 2.5em;
}

.quiz_answer,
.quiz_text,
button{
    background-color: #C8C6C6;
    color: #012235;
    font-weight: bold;
}

button {
    font-size: 1.2em;
}

#error {
    color: red;
    text-decoration: underline;
}

.multiple_choice_wrapper {
    display: flex;
    flex-direction: column;
}

.multiple_choice_option {
    border: 1px solid black;
    border-radius: 15px;
    margin: 0.5em;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
}

.multiple_choice_option label {
    margin: 0.5em;
    vertical-align: middle;
    display: table-cell;
}

.multiple_choice_option input {
    margin-right: 0.8em;
}

.true_or_false_wrapper {
    display: flex;
    justify-content: space-evenly;
}
.true_or_false_wrapper button {
    color: #C8C6C6;
    background-color: #012235;
}

.answer_template {
    display: none;
}