/* New design for desktop page*/

*{
    margin: 0;
}

body {
    background-color: #012235;
    color: #ecf0f1;
    font-family: 'Ubuntu', serif, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.prev_next {
    margin: 1em;
    float: left;
}

button {
    background-color: #012235;
    color: #ecf0f1;
    font-size: 1.2em;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: .7em;
    padding: .5em;
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

button:after {
    background-color: green;
}

.quiz_form_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.quiz_title {
    color: #CF9C62;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    text-transform: uppercase;
    font-size: 3.5em;
    font-weight: bold;
}

.quiz_text {
    text-align: justify;
}

.quiz_answer,
.quiz_text {
    padding: 1.5em;
    line-height: 1.5em;
    font-size: 1.8em;
}

.quiz_title {
    padding: 1em;
}

#error {
    color: red;
    text-decoration: underline;
    text-align: center;
}


/*Design del template per type: "trueOrFalse"; */

#trueOrFalse {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#trueOrFalse button {
    color: #CF9C62;
}

/*Design del template per type: "multipleChoice"; */

#multipleChoice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

#multipleChoice label  {
    padding: .3em;
    color: #CF9C62;
    border-radius: .3em;
    font-weight: 600;
}

#multipleChoice label:hover {
    transform: scale(1.1);
    cursor: pointer;
}

input[type="radio"]:checked + label{
    /*Quando è cliccato inverte i colori per rendere evidente quale opzione è selezionata*/
    background-color: #CF9C62;
    color: #012235 !important;
}
.radio_choice{
    display: none;
}

/*Design del template per type: "openAnswer"; */

textarea {
    width: 100%;
    height: 80%;
    padding: 1.3rem 1.5rem;
    box-sizing: border-box;
    border: 3px solid #CF9C62;
    border-radius: .6rem;
    outline: none;
    background-color: #012235;
    resize: none;
    color: #ecf0f1;
    font-family: inherit;
    font-size: .8em;
    text-align: justify;
    overflow: auto;
    line-height: 1.5em;
}

textarea::-webkit-scrollbar {
    width: .5em;
    margin: .1em;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
    border-radius: .6rem;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #CF9C62;
  border-radius: .8rem;
}