
div#barra-sinistra {
    /* In questo modo è posta a sinistra */
    justify-self: flex-start;
    padding: 1em;
    background-color: var(--secondary-bg-color);
    /*Deve occupare tutta la pagina*/
    height: 100vh;
}

div#barra-sinistra button {
    /* rimuove la linea nera attorno al bottone */
    outline: none;
    background-color: var(--secondary-bg-color);
}

button#aggiungi-missione {
    margin: 1em;
    border-radius: 5px;
}

div.missione {
    display: flex;
    /* in questo modo gli elementi (sfide) sono poste in colonna */
    flex-direction: column;
    /* distanza dalla missione successiva */
    margin-bottom: 1vh;
}

div.missione h2 {
    color: var(--title-text-color);
    /* non grassetto */
    font-weight: 500;
    display: flex;
    flex-flow: row;
}

div.missione ul {
    list-style-type: none;
    padding-left: 0;
}

div.missione ul li {
    padding: 0.5em;
}
div.missione ul li button.aggiungi-sfida{
    font-weight: bold;
    padding:0;
}

/* cambio lo sfondo quando il mouse si sposta sulla sfida*/

.missione h2.mission_bar_title:hover, li.sfida:hover, button.aggiungi-sfida:hover {
    color: white;
    cursor: pointer;
}

/* triangolo difianco al titolo delle missioni */
.triangle_expanded{
    margin-right: 6px;
}
.triangle_compressed{
    transform: rotate(-90deg);
    margin-right: 4px;
}