
h2 {
    font-size: 1em;
}
body{
    display: flex;
    flex-flow: row wrap;
    /*Da rimuovere*/
    /*width: 100%;
    height:100vh;*/
    
}
div.centro {
    display: flex;

    /*mostra gli elementi in riga e a capo*/
    flex-flow: row wrap;

     /*gli elementi sono posti al centro 
    dello schermo e tutto lo spazio bisnco rimasto 
    viene usato come bordo esterno*/
    justify-content: space-evenly;
    
    /* Centro in base alla y dello schermo */
    align-items: center;
    align-content: center;
    /*Da rimuovere
    width: 100%;*/
    height:100vh;
    
}

div.element {
    /* Serve per mette al centro le icone */
    display: flex;

    /* Causa errori */
    flex: 1 1 20%; 

    /* Ogni elemento viene inserito uno sotto l'altro */
    flex-flow: column nowrap;

    /* Imposta il testo all'interno dei rettangoli al centro */
    align-items: center; 

    border: 1px solid black;
    padding: .5em;
    margin: .3em;
    /* flex-basis: 20%; ogni elemento occupa il 20% dello spazio disponibile (ogni elemento) */

}

div.element i {
    align-self: center;

    /*dimensione dell' "immagine", viene trattata come fosse del testo*/
    font-size: 5em; 
}
div.element p {
    text-align: center;
}