@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&&display=swap'); 
*{
    padding:0px;
    border:0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    
}
body{
    background-color: #252C4A;
    color: white;

}
ul.roadmap{
    list-style-position: inside;
}
ul.roadmap li ul li{
    line-height:30px;
    padding-left: 20px;
}

.link{
    text-decoration: none;
    color: darkviolet;
}